body{
    background-color: #FFFFFF;
    font-family: 'Muli', sans-serif;
}
.containerImage{
    background: url(/img/fond.jpg) 0 0 fixed no-repeat;
    opacity: 0.5;
}
.containerBox{
    opacity: 1;
}

.btn-outline-primary {
    color: mediumblue;
    border-color: mediumblue;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: midnightblue;
    border-color:midnightblue;
}

.btn-outline-success {
    color: #1d643b;
    border-color: #2a9055;
    border-width: medium;
}

.btn-outline-success:hover {
    color:white;
    background-color: #6ACE71;
    border-color:#6ACE71;
}

.display-4 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1;
}

.display-3 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.5;
}

.btn-outline-param {
    color: mediumblue;
    border-color: mediumblue;
    background-color: white;
    border-width: medium;
}

.btn-outline-param:hover {
    color: #fff;
    background-color: midnightblue;
    border-color:midnightblue;
}

.btn-outline-retour {
    color: white;
    border-color: #FFB74A;
    background-color: black;
}

.btn-outline-retour:hover {
    color: #fff;
    background-color: #FFB74A;
    border-color: #FFB74A;
}

.btn-outline-retour-menu {
    color: white;
    border-color: #761b18;
    background-color: black;
}

.btn-outline-ajout {
    color: mediumblue;
    border-color: mediumblue;
    background-color: #d3d3d3;
}

.btn-outline-retour-menu:hover {
    color: #fff;
    background-color: #761b18;
    border-color:#761b18;
}

.oui {
    border: 5px solid rgba(74, 213, 69, 0.1);
}
.oui:hover {
    border: 5px solid rgba(74, 213, 69, 1);
}

.non {
    border: 5px solid rgba(227, 89, 89, 0.1);
}
.non:hover {
    border: 5px solid rgba(227, 89, 89, 1);
}

/*h1
{
    font-family: 'Paytone One', sans-serif;
}*/
.mt-6{
margin-top: 8rem !important;
}

.ctn-connexion{
    max-width: 760px;
}
.check {
    cursor: pointer;
    margin: 0px 5px 0px 0px;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #1b1e21;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}
.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
.check:hover:before {
    opacity: 1;
}
.check:hover svg {
    stroke: #4285f4;
}
#checkbox:checked + .check svg {
    stroke: #4285f4;
}
#checkbox:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
#checkbox:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

#checkbox2:checked + .check svg {
    stroke: #4285f4;
}
#checkbox2:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
#checkbox2:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.demo-container {
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
}
form {
    margin: 30px;
}
input {
    width: 200px;
    margin: 10px auto;
    display: block;
}
