/* première div du cadre*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.bg-white {
    background-color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}


.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.p-1 {
    padding: 0.25rem !important;
}
/* FIN 1ère div */

/* 2ème div */
.m-1 {
    margin: 0.25rem !important;
}
/* FIN 2ème div */

/* 3ème div */

/* BUGS ici */
.container-fluid {
    width: 100%;
    /*padding-right: 15px;
    padding-left: 15px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}

.border {
    border: 1px solid #dee2e6 !important;
}

.border-secondary {
    border-color: #6c757d !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}
/* FIN 3ème div */

.row {
    /*display: flex;*/ /*BUGS ici*/
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.table {
    border-collapse: collapse !important;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

